<footer class="footer">
    <div class="footer__body">
        <nav class="footer__nav">
            <a href="/bibliography">Bibliography</a>
            <a href="/maps">Maps</a>
            <a href="/store">Store</a>
            <a href="#">Revolutions</a>
            <a href="http://mikeduncan.fyi">Mike</a>
        </nav>
    </div>
    <div class="footer__legal">
        <small>&copy; 2007 - present, <a href="http://mikeduncan.fyi">Mike Duncan.</a> All rights reserved.</small>
    </div>
</footer>
