<header class="header">
    <a href="/">
    <img class="logo" src="/lib/images/THoR_Logo_200x200.jpg"> 
<!--    <p class="header__name">The History of Rome</p>-->
    </a>
    <nav class="header__nav">
        <a href="/episodes">Episodes</a>
        <a href="/maps">Maps</a>
        <a href="/about">About</a>
        <a href="/subscribe">Subscribe</a>
        <a href="/support">Support</a>
        <a href="/bibliography">Bibliography</a>
        <a href="http://revolutionspodcastfundraiser.com/">Store</a>
        <a href="http://www.revolutionspodcast.com/">Revolutions</a>
    </nav>
</header>
