<header class="header">
    <div class="header__logo">
        <a href="/">
            <img class="logo" src="/lib/images/THoR_Logo_200x200.jpg">
        </a>
    </div>
    <nav class="header__nav">
        <a href="/episodes">Episodes</a>
        <a href="/support">Support</a>
        <a href="/about">About</a>
        <a href="https://itunes.apple.com/us/podcast/the-history-of-rome/id261654474">Subscribe</a>
        <a href="/bibliography">Bibliography</a>
        <a href="http://revolutionspodcastfundraiser.com/">Store</a>
        <a href="http://www.revolutionspodcast.com/">Revolutions</a>
    </nav>
</header>
