---
layout: default
---

{% assign nextOrder = page.order | plus: 1 %}
{% assign nextEpisode = site.posts | where: "order", nextOrder | first %}
{% assign prevOrder = page.order | minus: 1 %}
{% assign prevEpisode = site.posts | where: "order", nextOrder | first %}


<article class="episode">
    <header class="episode__header">
        <h1 class="episode__title">{{ page.title }}</h1>
        <div>
            <div class="tag">Episode {{ page.index }}</div>
            <div class="tag">{{ page.era }}</div>
        </div>
        <audio src="/lib/audio/{{ page.audio }}" controls></audio>
    </header>
    <div class="episode__body">
        {{ content }}
    </div>
</article>
