---
layout: default
---

{% assign nextOrder = page.order | plus: 1 %}
{% assign nextEpisode = site.posts | where: "order", nextOrder | first %}
{% assign prevOrder = page.order | minus: 1 %}
{% assign prevEpisode = site.posts | where: "order", prevOrder | first %}


<article class="episode">
    <header class="episode__header">
        <h1 class="episode__title">{{ page.title }}</h1>
        <div>
            <div class="tag">Episode {{ page.index }}</div>
            <div class="tag">{{ page.era }}</div>
        </div>
        <audio src="/lib/audio/{{ page.audio }}" controls></audio>
        <a href="{{ page.audio }}" class="button button--primary" download>Download Episode {{ page.index }}</a>
    </header>
    <div class="episode__body">
        {{ content }}
    </div>
    <nav class="episode__nav">
        {% if prevEpisode %}
            <a class="button button--outline" href="{{ prevEpisode.url }}">&larr; Previous</a>
        {% endif %}
        {% if nextEpisode %}
            <a class="button button--outline" href="{{ nextEpisode.url }}">Next &rarr;</a>
        {% endif %}
    </nav>
</article>
